/* CSS para estilizar cada card */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 3%;
    width: 40%;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(150, 191, 191);
    flex: 0 300px;
    height: max-content;

    p{
        text-align: center;
    }

}

.carrosButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.btnEdit, .btnDelete{
    font-size: 1.1rem;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.btnEdit{
    padding: 1.2px 4px;
    background-color: green;
    color: black;
}

.btnDelete{
    padding: 1px;
    background-color: red;
    color: white;
}